@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
    background-color: #e4efef;
}

#city {
    display: block;
    padding-top: 1.25em;
    font-size: 50px;
    text-align: center;
    font-family: 'Varela Round';
    font-weight: bolder;
    color: #212121;
}

input {
    width: 530px;
    margin-left: 3em;
    height: 48px;
    background-color: #eeeff9;
    color: #455654;
    border-radius: 10px;
    border-color: transparent;
    font-size: 20px;
    font-family: 'Varela Round';
}

.container {
    display: block;
    margin: 0 auto;
    margin-top: 8em;
    height: 680px;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 30px;
}

.search-container {
    display: inline;
    text-align: center;
}


.search-form {
    display: inline;
}

.search-button {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    height: 53px;
    width: 140px;
    font-family: 'Varela Round';
    margin-left: 1em;
    border-radius: 10px;
    background-color: #33cccc;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.search-button:hover {
    opacity: 80%;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin-left: 4.5em;
    margin-top: 1em;
    font-family: 'Varela Round';
    width: 780px;
    border-radius: 10px;

}

.first-container {
    display: flex;
    justify-content: space-evenly;
    height: 130px;
    border-radius: 3px;

}

.second-container {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.current-degrees {
    display: flex;
    justify-content: space-between;
    font-size: 70px;
    margin-top: 0.5em;
    color: #272142;
}

.other-info {
    margin-top: 15px;
    font-size: 18px;
    color: #757575;
}

#current-day {
    color: #33cccc;
}

#current-icon {
    height: 60px;
    width: 60px;
}

.current-weather {
    display: flex;
    justify-content: space-evenly;
}

#description {
    text-align: center;
    text-transform: capitalize;
    color: #272142;
    font-size: 30px;
    padding-top: 0.5em;
}

.cel-fah {
    font-size: 18px;
    color: #272142;
}

#celcius,
#fahrenheit {
    text-decoration: none;
    font-family: 'Varela Round';
    color: #272142;
    transition: 200ms all ease-in-out;
}

#celcius:hover,
#fahrenheit:hover {
    color: #33cccc;
    font-family: 'Varela Round';
}

#today {
    font-size: 30px;
    color: #272142;
    font-weight: bolder;
    margin: 0 auto;
    display: block;
    margin-top: 13px;
}

.numbers {
    color: #a9a6b3;
}

.other {
    color: #33cccc;
}

#humidity {
    color: #a9a6b3;
}

#wind {
    color: #a9a6b3;
}

.weather {
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
    padding-top: 1em;
    text-align: center;
    font-family: 'Varela Round';
    font-weight: lighter;
    color: #757575;
    /* border: solid brown 2px; */
    height: 150px;
    width: 700px;
    margin: 0 auto;
}

.degrees {
    color: #33cccc;
    font-family: 'Varela Round';
    font-size: 19px;
    position: relative;
}

#day {
    color: #a9a6b3;
}

#time-now {
    color: #33cccc;
}

img {
    margin: 0;
    width: 80px;
    height: 80px;
}

#partly-cloudy {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.footer {
    font-family: 'Varela Round';
    text-align: center;
    color: #a9a6b3;
    text-decoration: none;
    padding-top: 3em;
}

#github {
    text-decoration: none;
    color: #33cccc;
}

#netlify {
    text-decoration: none;
    color: #33cccc;
}
